* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 90vh;
    background-color: whitesmoke;
}

h1 {
    color: #333;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

.tabla {
    max-width: 900px;
    width: 100%; /* Se ajusta el ancho al 100% dentro de max-width */
    margin: 0 auto; /* Centra la tabla */
    background-color: #1F1F1F;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

table {
    width: 100%; /* La tabla ocupa el 100% del contenedor */
    max-width: 800px; /* Se establece un ancho máximo para la tabla */
    border-collapse: collapse;
    color: white;
    background-color: #1f1f1f; 
    margin: 0 auto; /* Centra la tabla */
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 2px solid #ffffff;
}

table th {
    background-color: #ff5722;
    font-size: 1.1em;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}
