
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 16px;
    padding: 16px;
    text-align: center;
    height: 480px;
    width: 400px;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
}

.producto h2 {
    font-size: 19.2px;
    margin: 8px 0;
}

.producto p {
    margin: 8px 0;
}

.fila{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.producto:hover{
    height: 500px;
    width: 420px;
    transition: height 0.3s, width 0.3s;
    cursor: pointer;
}

#flecha{
    position: absolute;
    top: 35px;
    cursor: pointer;
    transition: transform 0.3s;
}