body {
    font-family: Arial, sans-serif;
    background-image:url(../../asset/Diseño\ sin\ título.png) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main{
    height: 100%;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
}

img {
    margin-top: 150px;
    width: 100px;
    height: auto;
}

form label {
    align-self: flex-start;
    margin: 10px 0 5px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 90%;
}

form h3 {
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}
form h2{
    margin-top: 0;
}

form input[type="submit"] {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: #575757;
}

/* Estilos para los mensajes de error */
.error-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

.error-message {
    margin: 5px 0;
}
