body {
  margin: 0;
}

.logo > img {
  box-sizing: border-box;
  height: 45px;
  margin-left: 30px;
  width: auto;
}

header {
  width: 100vw;
}

.icono {
  max-width: 50px; /* Aumenta el tamaño de los iconos */
  height: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.icono:hover {
  transform: scale(1.08);
  transition: transform 0.3s;
}

#cerrarSesion {
  background-color: #ff5722;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

#cerrarSesion:hover {
  background-color: #ff562280;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: #fff;
  height: 50px;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-align: center; /* Asegura que el texto esté centrado */
}

nav a:hover {
  color: #ffffffa2;
}

.menu > li {
  margin: 0 1rem;
  display: flex; /* Asegura que el contenido esté centrado verticalmente */
  flex-direction: column; /* Para centrar iconos y texto en columna */
  justify-content: center;
  align-items: center; /* Centra los iconos y el texto horizontalmente */
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paginaActual {
  color: yellow;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
    
  }


  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Centra tanto iconos como texto */
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .icono {
    max-width: 35px; /* Aumenta un poco más el tamaño de los iconos */
    margin-bottom: 5px;
    height: auto;
  }

  nav a {
    font-size: 18px; /* Aumenta un poco el tamaño del texto */
    text-align: center; /* Asegura que el texto esté centrado */
  }
}
