body {
  margin: 0; /* Elimina el margen predeterminado del cuerpo del documento */
}

.logo > img {
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto del elemento */
  height: 45px; /* Establece la altura de la imagen */
  margin-left: 30px; /* Añade un margen a la izquierda de la imagen */
  width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
}

header {
  width: 100vw; /* Establece el ancho del header en 100% del viewport */
}
.menu{
  align-items: center;
}
.icono {
  max-width: 45px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.icono:hover {
  transform: scale(1.08);
  transition: transform 0.3s; 
}
#cerrarSesion{
    background-color: #ff5722;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
#cerrarSesion:hover {
  background-color: #ff562280;
}

nav {
  display: flex; /* Utiliza flexbox para el diseño del contenedor */
  flex-direction: row; /* Alinea los elementos hijos en una fila */
  align-items: center; /* Alinea los elementos hijos verticalmente al centro */
  justify-content: space-between; /* Distribuye el espacio sobrante entre los elementos hijos */
  background-color: #1f1f1f; /* Establece el color de fondo del nav */
  color: #FFF; /* Establece el color del texto */
  height: 50px; /* Establece la altura del nav */
  padding: 1em; /* Añade un padding alrededor del contenido */
  width: 100%; /* Establece el ancho en 100% */
  box-sizing: border-box; /* Incluye el padding en el ancho total del elemento */
}

.menu {
  display: flex; /* Utiliza flexbox para el diseño del contenedor */
  flex-direction: row; /* Alinea los elementos hijos en una fila */
  list-style-type: none; /* Elimina los puntos de la lista */
  margin: 0; /* Elimina el margen de la lista */
  padding: 0; /* Elimina el padding de la lista */
}

nav a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: white; /* Establece el color del texto de los enlaces */
  cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
}

nav a:hover {
  color: #ffffffa2; /* Cambia el color del texto al pasar el cursor sobre el enlace */
}

.menu > li {
  margin: 0 1rem; /* Añade un margen horizontal entre los elementos de la lista */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.menu-button-container {
  display: none; /* Oculta el contenedor del botón del menú por defecto */
  height: 100%; /* Establece la altura en 100% */
  width: 30px; /* Establece el ancho en 30px */
  cursor: pointer; /* Cambia el cursor al pasar sobre el contenedor */
  flex-direction: column; /* Alinea los elementos hijos en una columna */
  justify-content: center; /* Alinea los elementos hijos verticalmente al centro */
  align-items: center; /* Alinea los elementos hijos horizontalmente al centro */
}

.paginaActual{
  color: yellow;
}

#menu-toggle {
  display: none; /* Oculta el checkbox del menú */
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block; /* Muestra el elemento como un bloque */
  background-color: #fff; /* Establece el color de fondo en blanco */
  position: absolute; /* Posiciona el elemento de forma absoluta */
  height: 4px; /* Establece la altura en 4px */
  width: 30px; /* Establece el ancho en 30px */
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Añade una transición suave */
  border-radius: 2px; /* Redondea las esquinas */
}


.menu-button::before {
  content: ''; /* Añade contenido vacío antes del elemento */
  margin-top: -8px; /* Añade un margen superior negativo */
}

.menu-button::after {
  content: ''; /* Añade contenido vacío después del elemento */
  margin-top: 8px; /* Añade un margen superior */
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px; /* Elimina el margen superior */
  transform: rotate(405deg); /* Rota el elemento */
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0); /* Hace transparente el fondo */
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px; /* Elimina el margen superior */
  transform: rotate(-405deg); /* Rota el elemento */
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex; /* Muestra el contenedor del botón del menú en pantallas pequeñas */
  }
  .menu {
    position: absolute; /* Posiciona el menú de forma absoluta */
    top: 0; /* Establece la posición superior en 0 */
    margin-top: 50px; /* Añade un margen superior */
    left: 0; /* Establece la posición izquierda en 0 */
    flex-direction: column; /* Alinea los elementos hijos en una columna */
    width: 100%; /* Establece el ancho en 100% */
    justify-content: center; /* Alinea los elementos hijos verticalmente al centro */
    align-items: center; /* Alinea los elementos hijos horizontalmente al centro */
  }
  #menu-toggle ~ .menu li {
    height: 0; /* Establece la altura en 0 */
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
    border: 0; /* Elimina el borde */
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Añade una transición suave */
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333; /* Añade un borde */
    height: 2.5em; /* Establece la altura */
    padding: 0.5em; /* Añade un padding */
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1); /* Añade una transición suave */
  }
  .menu > li {
    display: flex; /* Muestra el elemento como un flexbox */
    justify-content: center; /* Alinea los elementos hijos horizontalmente al centro */
    margin: 0; /* Elimina el margen */
    padding: 0.5em 0; /* Añade un padding vertical */
    width: 100%; /* Establece el ancho en 100% */
    color: white; /* Establece el color del texto en blanco */
    background-color: #222; /* Establece el color de fondo */
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444; /* Añade un borde inferior */
  }
}
