/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Main Content Styles */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 70px;

}
.image-container .ham1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container > .ham1 > img{
  height: 400px;
  width: auto;
}

/* Rotate effect */
.rotate {
  width: 250px;
  position: absolute;
  animation: rotateAnimation 15s linear infinite;
  z-index: 1;
}
#rotar{
  width: 450px;
  height: 450px;
}
@keyframes rotateAnimation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Styles for hamburger images */
.img-ham1 {
  z-index: 2;
}

/* Slogan styles */
.eslogan img {
  display: block;
  margin: 20px auto;
  max-width: 800px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .image-container .ham1:first-child,
  .image-container .ham1:last-child {
      display: none;
  }
}

@media (max-width: 480px) {
  /* Hide the side images on small screens */
  .image-container .ham1:first-child,
  .image-container .ham1:last-child {
      display: none;
  }

  .image-container {
      justify-content: center;
      gap: 0;
  
  }

  .eslogan img {
      max-width: 90%;
  }
}
