*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #181818 ;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/*  --->HEADER<---  */



/*  --->MAIN<---  */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 99vw;
    height: 95vh;
    overflow: hidden;
    padding: 150px 200px;
    box-sizing: border-box;
    
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    user-select: none;
    margin-top: 10%;
}
.eslogan{
  box-sizing:content-box ;
  position: relative;
  bottom: 400px;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  max-width: 1280px;
  max-height: 50px;
  user-select: none;
}
.main-image {
    max-width: 60%;
    height: auto;
}

.img-n1 {
    height: 500px;
    width: auto;
    animation: rotar 20s linear infinite;
    position: absolute;
    z-index: 1;
   user-select: none;
}

.img-ham1 {
    width: auto;
    height: 400px;
    position: absolute;
    z-index: 2;
    user-select: none;
    animation: arriba 5s backwards;
}

.ham1 {
    position: relative;
    display: flex;
    align-items:center ;
    justify-content: center;
}
@keyframes rotar {
  from{
    transform: rotate(180deg);
  }
  to{
    transform: rotate(-180deg);
  }
}
@media (max-width: 700px) {
  .ham1{
    display: none;
  }
  .eslogan{
    zoom: 30%;
    top: 845px;
  }
  .image-container{
    align-items: center;
    justify-content: center;
    zoom: 70%;
  }
  p{
        
  }
  main{
    box-sizing: border-box;
    width: 20px;
  }
    }