body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main {
    padding: 32px 0;
}

.about {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.boton {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 16px;
}

.progress-bar {
    border-radius: 5px;
    margin: 32px 0;
    height: 20px;
    width: 100%;
}

.linea {
    background-color: #000000;
    height: 1%;
    border-radius: 5px;
}

.img1 {
    margin: 0 16px;
    width: 64px;
    height: 64px;
}

.img2 {
    margin: 0 16px;
    width: 88px;
    height: 64px;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 50px;
}
